.*
!.gitignore
/gnucash
/py3bindings
/secrets
old/
credentials*
token*
**/json/
**/out/
**/logs/
**/venv/
**/Downloads
**/test*/
**/bin/
*.py[cdo]
*.out
*.o
*.so
*.obj
*.bin
*.exe
*.x
*.gz
*.zip
*.tar

