.*
!.gitignore
/gnucash
/py3bindings
**/in/Monarch
**/out/
**/logs/
**/venv/
**/Downloads
**/test*/
**/bin/
*.py[cdo]
*.out
*.o
*.so
*.obj
*.bin
*.exe
*.x
# find <dir/>* -type l >> .gitignore
makeGncTx/jsonFromTxt/Mon_Mk_pre-txRep_2019-01-26_13-55-26.json
makeGncTx/txtFromPdf/Monarch_Mark_prelim-txRep_2019-01-26.txt
parsePdf/in/mon-Mk_ptxRep_2019-01.pdf
